body {
    height: 100%;
    margin: 0 auto;
}









/*  MAIN CONTENT  */

header {
    margin-top: 4rem;
    font-size: 5vw;
    padding: 1.5vw;
    background: yellowgreen;
    border: rgb(194, 247, 88) solid 2px;
    border-radius: 15px;
}




/*   BUBBLES   */

SVG {
    margin-top: 4vw;
}

textPath {
    font-size: 15px;
    fill: yellowgreen;
}

#timer-text, #score-text {
    font-size: 3vw;

}





/*  QUIZ  */

#quiz-box {

    background: #20a39e;
    border: #32f7f0 2px solid;
    padding: 4vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 15px;
}

#input-el {
    background: rgb(192, 17, 192);
    border-radius: 15px;
    min-width: 200px;
    padding: 2vw;
    color: #fff;
    border: fuchsia solid 2px;
}

#question-el {
    background: rgb(192, 17, 192);
    border-radius: 15px;
    min-width: 200px;
    color: #fff;
}

#question-button {
    background: rgb(192, 17, 192);
    border: fuchsia solid 2px;
    padding: 2vw;
    border-radius: 15px;
    min-width: 200px;
    color: #fff;
}

.not-active {
    pointer-events: none;
}

#button-box {
    margin-top: 3vw;
    border-radius: 15px;
}

.btn-warning {
    background: #EF5B5B;
    border-width: 2px;
}









.hidden {
    display: none;
}

.input-style {
    background-color: fuchsia;
    border: 2px solid;
    border-radius: 15px;
}

@Media screen and (max-width: 700px) {
    #timer-text, #score-text {
        font-size: 4vw;
    
    }
}