body {
    height: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.pointer{
    cursor: pointer;
}




/*  MAIN CONTENT  */

header {
    margin-top: 4rem;
    padding: 1.5vw;
    background: yellowgreen;
    border: rgb(194, 247, 88) solid 2px;
    border-radius: 15px;
}

h1 {
    font-size: 5vw;
}




/*   BUBBLES   */

SVG {
    margin-top: 4vw;
}

textPath {
    font-size: 15px;
    fill: yellowgreen;
}

#timer-text, #score-text {
    font-size: 20px;

}




/*  QUIZ  */

#quiz-box {

    background: #20a39e;
    border: #32f7f0 2px solid;
    padding: 4vw;
    margin: auto;
    margin-top: 2vw;
    border-radius: 15px;
}


/*RIGHT/WRONG STAMPS*/
#right-div, #wrong-div {
    z-index: 100000;
    font-size: 240px;
    transform: translate(0px, -280px);
}


/*QUESTIONS AND ANSWERS*/
#question-el {
    background: rgb(192, 17, 192);
    border-radius: 15px;
    min-width: 200px;
    color: #fff;
}

#question-button {
    background: rgb(192, 17, 192);
    border: fuchsia solid 2px;
    padding: 2vw;
    border-radius: 15px;
    min-width: 200px;
    color: #fff;
}

#button-box {
    margin-top: 3vw;
    border-radius: 15px;
}

.btn-warning {
    background: #EF5B5B;
    border-width: 2px;
}

.not-active { /*turn clicking mouse pointer off when buttons aren't functioning as buttons*/
    pointer-events: none;
}


/*INPUT*/
#input-el {
    background: rgb(192, 17, 192);
    border-radius: 15px;
    min-width: 200px;
    padding: 2vw;
    color: #fff;
    border: fuchsia solid 2px;
}

.input-style {
    background-color: fuchsia;
    border: 2px solid;
    border-radius: 15px;
}








/* adjust stamp positioning at smaller screen sizes*/
@Media screen and (max-width: 700px) {
    #wrong-div, #right-div {
        transform: translate(0px, -250px);
    }
}